

.demo{
  margin:0px;
  padding:0px;
.containerr {
   width: 100%;
    text-align: center;
    position: relative;
  }
  .containerr div {
    background-color: white;
    width: 100%;
    display: inline-block;
    display: none;
  
  }
  .containerr img {
    width: 100%;
   height: 100%;
   
  }
  
  
  .next {
    position: absolute;
    border: none;
    outline: none;
    font-size: 60px;
    right: 700px;
    color:white;
    z-index: 99;
    backface-visibility: visible;
    background: none;
  }
  
}






//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>








.sliderInfo{
  .sliderInf{
    width: 100%;
    position: relative;
    
  }
  .sliderInf .slideInf{
    background-color: white;
    width: 100%;
    display: inline-block;
    display: none;
  
  }

  .name{
    margin-left: 48px;
    margin-top: 70px;
    font-size: 15px;
    margin-bottom:1px;
    font-weight: bold;
  }
  .profession{
    margin-left: 48px;
    color: #EE87A4;
   letter-spacing: 3px;
  }
  .textInfo{
    margin-left: 48px;
    word-break: break-all;
    font-size: 16px;
    margin-right: 48px;
  }

}





.sliderSection{
  position: relative;
  margin:0px;
  padding:0px;

.slider {
   width: 100%;
    text-align: center;
    position: relative;
  }
  
  .slider .slide {
    background-color: white;
    width: 100%;
    display: inline-block;
    display: none;
  
  }
  
  .slider .slide img {
    width: 100%;
  height: 100%;
  
  }
  
  
  .change {
    position: absolute;
    border: none;
    outline: none;
    font-size: 60px;
    right: 300px;
    color:white;
    z-index: 99;
    background: none;
    
  }
  
}

@media screen and (max-width: 1020px)  {
  .next{
    
  left: 8%;
  
  }
}



@media screen and (min-width: 1268px)  {
  .change {
    top: 1380px!important;
    top:250px!important;
    left: 15px!important;
    right:0px!important;
    bottom: 0px!important;
  }

}

@media screen and (max-width: 1268px)  and (min-width: 1020px) {
.change{
  top:250px!important;
  left: 15px!important;
  right:0px!important;
  bottom: 0px!important;
}
 
}

@media screen and (max-width: 1020px) and (min-width: 650px) {
  .rightSide .change{
     right: 80%;
     top: 80%
   
   
   
  }
 

}

@media screen  and (max-width: 650px) {
  .change{
 
    right: 83%!important;
    top: 83%
}
}



//>>>>>>>>>>>>>>>>>>>>>>>>> text Slider>








@media screen  and (min-width: 1268px) {

.textSliderSection{
    max-width: 547px;
    padding-left: 50px;
   position: relative;
   top:100px;
  
.textSlider {
   width: 100%;
    position: relative;
  }
  .textSlider .slide {
    width: 100%;
    display: inline-block;
    display: none;
  
  }
  
  
  
  .textSliderButton {
    border: none;
    outline: none;
    font-size: 60px;
    color:white;
    z-index: 99;
    backface-visibility: visible;
    background: none;
    margin-top: 15px;
  }

  .slideText{
    color: white;
    font-size: 22px;
    line-height: 33px;
    height: 125px;
  }
  .name{
    color: white;
    padding-top: 65px;
    font-size: 16px;
    letter-spacing: 3px;
  }
  
}

}




@media screen  and (max-width: 1268px) and (min-width: 1020px) {

  .textSliderSection{
    max-width: 547px;
    padding-left: 50px;
     position: relative;
     top:100px!important;
     padding-top: 100px;
    
  .textSlider {
     width: 100%;
      position: relative;
    }
    .textSlider .slide {
      width: 100%;
      display: inline-block;
      display: none;
    
    }
    
    .textSliderButton {
      border: none;
      outline: none;
      font-size: 60px;
      color:white;
      z-index: 99;
      backface-visibility: visible;
      background: none;
      margin-top: 15px;
    }
  
    .slideText{
      color: white;
      font-size: 22px;
      line-height: 33px;
      height: 125px;
    }
    .name{
      color: white;
      padding-top: 65px;
      font-size: 16px;
      letter-spacing: 3px;
      font-size: 16px;
    }
    
  }
  
  }





  @media screen  and (max-width: 1020px) {

    .textSliderSection{
      max-width: 547px;
      padding-left: 50px;
       position: relative;
       top:100px!important;
       padding-top: 100px;
       height: 1400px;
      
    .textSlider {
       width: 100%;
        position: relative;
      }
      .textSlider .slide {
        width: 100%;
        display: inline-block;
        display: none;
      
      }
      
      
      
      .textSliderButton {
        border: none;
        outline: none;
        font-size: 60px;
        color:white;
        z-index: 99;
        backface-visibility: visible;
        background: none;
        margin-top: 15px;
      }
    
      .slideText{
        color: white;
        font-size: 22px;
        line-height: 33px;
        height: 125px;
      }
      .name{
        color: white;
        padding-top: 65px;
        font-size: 16px;
        letter-spacing: 3px;
        font-size: 16px;
      }
      
    }
    
    }






    //>>>>>>>>>>>>>>>>>>>>>>>> bx slider ..

.bxSlider{
 margin-top:270px;
  width: 98.3%;
 
  height: 375px;
  margin-left: 5px;
      .hiddenNexButton{
        display: none;
      }
}

    

@media screen  and (max-width: 1020px) {

  .bxSlider{
    margin-top:270px;
     width: 100%;
     height: 576px;
   }
}


//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>


.wrapper {
 
  width: 100%;
position: absolute;
@media screen  and (min-width: 1268px) {
.list_carousel {
  width: 100%;
  background: #221C5A;
  position: absolute;
  left: -50px
}
}
@media screen  and (max-width: 1268px) and (min-width: 1020px){
  .list_carousel {
    width: 100%;
    background: #221C5A;
    position: absolute;
    left: -140px
  }
  }
  @media screen  and (max-width: 1020px) and (min-width: 750px){
    .list_carousel {
      width: 100%;
      background: #221C5A;
      position: absolute;
      left: 70px;
     
    }
    }
    @media screen  and (max-width: 750px) and (min-width: 500px){
      .list_carousel {
        width: 100%;
        background: #221C5A;
        position: absolute;
        left: -70px;
       
      }
      }
      

.caroufredsel_wrapper{
  width: 100%!important;
  overflow: visible!important;
}

.list_carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
@media screen  and (min-width: 1268px) {
.list_carousel li {
  width: 200px;
  height: 180px;
  display: block;
  float: left;
  margin: 60px;
  .img{
    width: 170px;
    height: 150px;
   
  }
}
}

@media screen  and (max-width: 1268px)  and (min-width: 1020px) {
  .list_carousel li {
    width: 200px;
    height: 180px;
    display: block;
    float: left;
    margin: 60px;
    .img{
      width: 170px;
      height: 150px;
     
    }
  }
  }
  @media screen  and (max-width: 1140px)  {
    .list_carousel li {
      width: 200px;
      height: 180px;
      display: block;
      float: left;
      margin: 110px!important;
     
      .img{
        width: 170px;
        height: 150px;
     
      }
    }
    }
    @media screen  and (max-width: 650px)  {
      .list_carousel li {
        width: 200px;
        height: 180px;
        display: block;
        float: left;
        // margin: 170px!important;
       
        .img{
          width: 170px;
          height: 150px;
       
        }
      }
      }
.pager a {
  margin: 0 7px;
  text-decoration: none;
  border: 3px solid white;
  border-radius: 50%;
  color: white;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #221C5A;

}
@media screen  and (max-width: 1040px) {
  .pager a{
    display: none;
  }
}
.pager a:focus:last-child {
       background: white;
       color: white;
}
.pager a:focus:first-child {
       background: white;
       color: white;
}
.pager a:focus:nth-child(2) {
  background: white;
  color: white;
}

.pager a:focus:nth-child(3) {
  background: white;
  color: white;
}

.sliderControl{
  width: 100%;
  height: auto;
  text-align: center;
  position: relative;
  top:  -40px;
  
  .next {
    color: white;
    background: #221C5A;
    border: none;
    outline: none;
    font-size: 50px;
    float: left;
   
  }
  @media screen  and (min-width: 1020px) {
    .next{
      display: none!important;
    }
   
  }
  @media screen  and (max-width: 1020px) {
    .next{
      display: block!important;
      position: relative;
      left: 100px;
     
    }
   
  }

}

}































































